In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [2]:
# import full dataset
listings = pd.read_csv('../raw_data/listings.csv')
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20221221170309,2022-12-22,city scrape,Nashville Charm,30 day or more rental during COVID. Show COVID...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/pro_photo_too...,12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,4.06
1,59576,https://www.airbnb.com/rooms/59576,20221221170309,2022-12-21,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,5.00,5.00,5.00,NaN,f,10,1,9,0,0.34
2,72906,https://www.airbnb.com/rooms/72906,20221221170309,2022-12-21,city scrape,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,Entire top floor. Private. 800 sq ft of bright...,Historic Belmont-Hillsboro neighborhood. Walk-...,https://a0.muscache.com/pictures/58602855/3788...,176117,...,4.99,4.96,4.89,NaN,f,1,1,0,0,4.76
3,319705,https://www.airbnb.com/rooms/319705,20221221170309,2022-12-21,city scrape,"SuperSweetSTUDIO, jacuzzi, open Nov 23, 6 mo",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,4.68,4.62,4.57,NaN,f,8,0,7,1,0.36
4,289242,https://www.airbnb.com/rooms/289242,20221221170309,2022-12-21,city scrape,"MorningstarHouse, monthly room- open Aug 19",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,4.78,4.47,4.69,NaN,f,8,0,7,1,0.57

In [3]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [4]:
#subsetting the listings columns only by the features of the house 
features = listings[['name', 'price', 'neighbourhood_cleansed', 'room_type', 'minimum_nights', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds']]
features.head()

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bathrooms_text,bedrooms,beds
0,Nashville Charm,$40.00,District 6,Private room,30,2,1 private bath,2.0,3.0
1,Large Main Suite near Lake *ladies only NS plz,$45.00,District 12,Private room,30,1,1 private bath,1.0,1.0
2,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,$90.00,District 18,Entire home/apt,2,4,1 bath,2.0,2.0
3,"SuperSweetSTUDIO, jacuzzi, open Nov 23, 6 mo",$39.00,District 12,Private room,30,3,1 private bath,1.0,5.0
4,"MorningstarHouse, monthly room- open Aug 19",$33.00,District 12,Private room,30,1,1 shared bath,1.0,3.0

CLEANING PRICE

In [5]:
#remove dollar sign from price column and make into a 
features['price'].dtype

dtype('O')

In [6]:
features['price'] = features['price'].apply(lambda x: float(x.split()[0].replace('$', '').replace(',','')))

<ipython-input-6-f791b09ff76a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['price'] = features['price'].apply(lambda x: float(x.split()[0].replace('$', '').replace(',','')))

In [7]:
features['price'].dtype

dtype('float64')

In [8]:
#find rows with a zero price value and drop... not useful without it 
zero_price = features[features['price'] == 0.0]
zero_price

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bathrooms_text,bedrooms,beds
4006,Hotel Preston,0.0,District 13,Hotel room,1,0,NaN,NaN,NaN

In [9]:
features.drop(index= 4006, inplace=True)

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
#check if dropped
features[features['price'] == 0.0]

Empty DataFrame
Columns: [name, price, neighbourhood_cleansed, room_type, minimum_nights, accommodates, bathrooms_text, bedrooms, beds]
Index: []

In [11]:
#find rows with a null price value and drop... not useful without it
null_price = features[features['price'] == 0.0]
null_price

Empty DataFrame
Columns: [name, price, neighbourhood_cleansed, room_type, minimum_nights, accommodates, bathrooms_text, bedrooms, beds]
Index: []

BATHROOM TEXT CLEANING

In [12]:
#unique bathroom text 
features['bathrooms_text'].unique()

array(['1 private bath', '1 bath', '1 shared bath', '2.5 baths',
       '2 baths', '1.5 baths', '3 baths', '3.5 baths', '4 baths',
       '4.5 baths', '1.5 shared baths', '7 baths', '3.5 shared baths',
       '5.5 baths', '8 baths', '0 baths', '2.5 shared baths', 'Half-bath',
       '6 baths', '5 baths', '2 shared baths', '9.5 baths', '7.5 baths',
       'Private half-bath', '14 baths', '3 shared baths', '6.5 baths',
       '9 baths', '19 baths', nan, '12 baths', '16 baths', '17 baths',
       '10.5 baths', '4 shared baths', '12.5 baths', '18 baths',
       '13.5 baths', '8.5 baths', '17.5 baths'], dtype=object)

In [13]:
#We are going to split bathroom_text into two columns one numeric/ float the other categorical 

#first normalize the values that are not 'number space bath_type'
features.loc[features['bathrooms_text'] == 'Half-bath', 'bathrooms_text'] = '0.5 bath'
features.loc[features['bathrooms_text'] == 'Private half-bath', 'bathrooms_text'] = '0.5 private bath'

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
#split the columns 
features[['bathroom_count','bathroom_type']] = features["bathrooms_text"].str.split(" ", 1, expand=True)
features.head(4)

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bathrooms_text,bedrooms,beds,bathroom_count,bathroom_type
0,Nashville Charm,40.0,District 6,Private room,30,2,1 private bath,2.0,3.0,1,private bath
1,Large Main Suite near Lake *ladies only NS plz,45.0,District 12,Private room,30,1,1 private bath,1.0,1.0,1,private bath
2,Vandy/Belmont/10 mins to Broadway - Sunny 800 ...,90.0,District 18,Entire home/apt,2,4,1 bath,2.0,2.0,1,bath
3,"SuperSweetSTUDIO, jacuzzi, open Nov 23, 6 mo",39.0,District 12,Private room,30,3,1 private bath,1.0,5.0,1,private bath

In [15]:
#drop the bathrooms_text feature as it is repetitive/ not needed anymore
features.drop(columns='bathrooms_text', inplace=True)

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
features['bathroom_count'].unique()

array(['1', '2.5', '2', '1.5', '3', '3.5', '4', '4.5', '7', '5.5', '8',
       '0', '0.5', '6', '5', '9.5', '7.5', '14', '6.5', '9', '19', nan,
       '12', '16', '17', '10.5', '12.5', '18', '13.5', '8.5', '17.5'],
      dtype=object)

In [17]:
#seeing nan and 'Private' total rows
#count_remove = ['Private', 'nan']
#features = features[features.bathroom_count.isin(count_remove) == False]
#features['bathroom_count'].unique()

In [18]:
#making bathroom count data into float
features['bathroom_count'] = features['bathroom_count'].astype(float) 
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8126 entries, 0 to 8126
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    8126 non-null   object
 1   price                   8126 non-null   float64
 2   neighbourhood_cleansed  8126 non-null   object
 3   room_type               8126 non-null   object
 4   minimum_nights          8126 non-null   int64
 5   accommodates            8126 non-null   int64
 6   bedrooms                7788 non-null   float64
 7   beds                    8080 non-null   float64
 8   bathroom_count          8124 non-null   float64
 9   bathroom_type           8124 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 698.3+ KB

<ipython-input-18-fbb5dc57ea02>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['bathroom_count'] = features['bathroom_count'].astype(float)

In [19]:
#bathroom_type cleaning 
features['bathroom_type'].unique()

array(['private bath', 'bath', 'shared bath', 'baths', 'shared baths',
       nan], dtype=object)

In [20]:
#combines bath with baths
features.loc[features['bathroom_type'] == 'baths', 'bathroom_type'] = 'bath'
features.loc[features['bathroom_type'] == 'shared baths', 'bathroom_type'] = 'shared bath'
features['bathroom_type'].unique()

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

array(['private bath', 'bath', 'shared bath', nan], dtype=object)

In [21]:
# bathroom_type null values 
features[features['bathroom_type'].isnull()]

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bedrooms,beds,bathroom_count,bathroom_type
2472,Nashville Riverfront Lofts - Deluxe Penthouse #9,1364.0,District 19,Entire home/apt,1,9,3.0,4.0,NaN,NaN
2474,Downtown Nashville! Market Street Unit #4,215.0,District 19,Entire home/apt,1,2,1.0,1.0,NaN,NaN

In [22]:
# bathroom_count null values 
features[features['bathroom_count'].isnull()]

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bedrooms,beds,bathroom_count,bathroom_type
2472,Nashville Riverfront Lofts - Deluxe Penthouse #9,1364.0,District 19,Entire home/apt,1,9,3.0,4.0,NaN,NaN
2474,Downtown Nashville! Market Street Unit #4,215.0,District 19,Entire home/apt,1,2,1.0,1.0,NaN,NaN

In [23]:
#they are the same values that are null for type... they didn't put in a value change to -1 to denote a weird value
features.loc[features['bathroom_count'].isnull(), 'bathroom_count'] = -1

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [24]:
#they are the same values that are null for type... they didn't put in a value change to 'N/A' to denote a weird value
features.loc[features['bathroom_type'].isnull(), 'bathroom_type'] = 'N/A'

In [25]:
#double check if anymore nulls exist
features[features['bathroom_count'].isnull()]

Empty DataFrame
Columns: [name, price, neighbourhood_cleansed, room_type, minimum_nights, accommodates, bedrooms, beds, bathroom_count, bathroom_type]
Index: []

In [26]:
features[features['bathroom_type'].isnull()]

Empty DataFrame
Columns: [name, price, neighbourhood_cleansed, room_type, minimum_nights, accommodates, bedrooms, beds, bathroom_count, bathroom_type]
Index: []

See what other columns have missing values and deal with those NAs

In [27]:
#missing values in features 
missing = pd.concat([features.isnull().sum(), 100 * features.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                        count         %
name                        0  0.000000
price                       0  0.000000
neighbourhood_cleansed      0  0.000000
room_type                   0  0.000000
minimum_nights              0  0.000000
accommodates                0  0.000000
bathroom_count              0  0.000000
bathroom_type               0  0.000000
beds                       46  0.566084
bedrooms                  338  4.159488

In [28]:
# find how many are missing both beds and bedrooms 
len(features[features['bedrooms'].isnull()][features['beds'].isnull()])

<ipython-input-28-37c0da92e112>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(features[features['bedrooms'].isnull()][features['beds'].isnull()])

10

In [29]:
# print those ten
features[features['bedrooms'].isnull()][features['beds'].isnull()]

<ipython-input-29-db51e0be3924>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  features[features['bedrooms'].isnull()][features['beds'].isnull()]

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bedrooms,beds,bathroom_count,bathroom_type
264,"Hip Condo Near 12 South, Vanderbilt, and Downt...",74.0,District 17,Entire home/apt,2,4,NaN,NaN,1.0,bath
1774,Studio 154 - Riverview Suite 1 King,291.0,District 19,Private room,1,2,NaN,NaN,1.0,private bath
2509,Sonder The Stat | Studio Apartment,82.0,District 21,Entire home/apt,2,2,NaN,NaN,1.0,bath
3535,Sonder at Village 21 | Studio Apartment w/ Bal...,102.0,District 17,Entire home/apt,2,4,NaN,NaN,1.0,bath
3935,Historic Converted Studio AWESOME location,74.0,District 19,Entire home/apt,1,1,NaN,NaN,1.0,bath
4007,"Clean, Comfortable & Convenient Hamilton Studio",69.0,District 17,Entire home/apt,3,2,NaN,NaN,1.0,bath
4594,Sonder at LC SoBro | Superior Studio Apartment,99.0,District 19,Entire home/apt,2,2,NaN,NaN,1.0,bath
4605,Sonder at LC SoBro | Studio Apartment,81.0,District 19,Entire home/apt,2,2,NaN,NaN,1.0,bath
4802,Sonder Dovetail | Spacious Studio Apartment,154.0,District 19,Entire home/apt,2,4,NaN,NaN,1.0,bath
4808,Sonder Dovetail | Studio Apartment,113.0,District 19,Entire home/apt,2,2,NaN,NaN,1.0,bath

In [30]:
# if both bed and bedroom are null neither value can be assumed replace with -1
features.loc[features['beds'].isnull() & features['bedrooms'].isnull(), 'beds'] = -1
features.loc[features['beds'].isnull() & features['bedrooms'].isnull(), 'bedrooms'] = -1

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [31]:
# if bed is one then it can be assumed that bedroom should also be one
len(features[features['bedrooms'].isnull()][features['beds'] == 1.0])

<ipython-input-31-29c122a0597f>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(features[features['bedrooms'].isnull()][features['beds'] == 1.0])

142

In [32]:
#replacing it 
features.loc[features['bedrooms'].isnull() & features['beds'] == 1.0, 'bedrooms'] = 1.0

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [33]:
#check to see if it worked
len(features[features['bedrooms'].isnull()][features['beds'] == '1.0'])

<ipython-input-33-9cf3afd2fba5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(features[features['bedrooms'].isnull()][features['beds'] == '1.0'])

0

In [34]:
#check to see how remaining null values in features for beds, bedrooms and (beds and bedrooms)
len(features[features['bedrooms'].isnull()][features['beds'].isnull()])

<ipython-input-34-2ce82d3594c5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(features[features['bedrooms'].isnull()][features['beds'].isnull()])

0

In [35]:
len(features[features['bedrooms'].isnull()])

0

In [36]:
len(features[features['beds'].isnull()])

36

Deal with missing bed values

In [37]:
# view the first 5 missing bedroom & entire house 
features[features['beds'].isnull()].head(10)

,name,price,neighbourhood_cleansed,room_type,minimum_nights,accommodates,bedrooms,beds,bathroom_count,bathroom_type
156,Beautiful Victorian in heart of 5 points/downtown,306.0,District 6,Entire home/apt,2,8,3.0,NaN,2.5,bath
207,"Charming flat in heart of Nashville, Sylvan Park",120.0,District 24,Entire home/apt,1,3,1.0,NaN,1.0,bath
785,Modern Space in Scenic Neighborhood,75.0,District 23,Entire home/apt,30,4,1.0,NaN,1.0,bath
2266,Private guest room and bathroom in East Nash home,71.0,District 5,Private room,1,2,1.0,NaN,1.0,private bath
2810,Cozy Nashville Room/Newly Remodeled Near Opryland,49.0,District 15,Private room,30,1,1.0,NaN,1.0,shared bath
2922,90% off hotel prices,30.0,District 33,Private room,30,1,1.0,NaN,1.0,shared bath
2980,Master bedroom/ en suite,35.0,District 33,Private room,30,1,4.0,NaN,3.0,shared bath
3307,Sonder Belcourt | Two-Bedroom Apartment w/ Bal...,148.0,District 18,Entire home/apt,2,6,2.0,NaN,2.0,bath
3401,Sonder The Saddlery | Two-Bedroom Apartment,302.0,District 19,Entire home/apt,2,6,2.0,NaN,1.5,bath
3402,Sonder The Saddlery | Superior Two-Bedroom Apa...,270.0,District 19,Entire home/apt,2,6,2.0,NaN,1.5,bath

In [38]:
# since there is not much information... best not to assume bed count change null values to -1
features.loc[features['beds'].isnull(), 'beds'] = -1.0

/Users/susannavinoba/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [39]:
# missing values 
missing = pd.concat([features.isnull().sum(), 100 * features.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                        count    %
name                        0  0.0
price                       0  0.0
neighbourhood_cleansed      0  0.0
room_type                   0  0.0
minimum_nights              0  0.0
accommodates                0  0.0
bedrooms                    0  0.0
beds                        0  0.0
bathroom_count              0  0.0
bathroom_type               0  0.0

In [40]:
# save the data to a new csv file

from library.sb_utils import save_file

datapath = '../data'
save_file(features, 'features_data_cleaned.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "../data/features_data_cleaned.csv"